body {
 background: #4ABDAC;
}

.header {
  font-size: 30px;
 text-align: center;
 color: #FC4A1A;
  /*font-family: 'Raleway Dots', cursive;*/
 font-family: 'Montserrat Subrayada', sans-serif;
 }

 .test-6-column.weather {
   background-color: #4ABDAC;
   margin-bottom: 30px;
   text-align: center;
   color: #DFDCE3;
   font-family: "Codystar", cursive;
 }

 .test-6-column.happy {
   background-color: #4ABDAC;
   margin-bottom: 30px;
   text-align: center;
   color: #DFDCE3;
   font-family: "Codystar", cursive;
 }

 .test-6-column.happy h2{
  font-family: "Codystar", cursive;
 }

 .test-6-column.weather h2{
  font-family: "Codystar", cursive;
  margin-top:5px;
 }
