.container {
  @include outer-container;
}

// this and accompanying HTML can be deleted once we all see how
// SASS -> CSS compilation works in Django!

.bourbon-neat-test {
  @include outer-container;

  .test-6-column {
    @include span-columns(6);
    @include omega(2n);
    font-family: $helvetica;
    background-color: rgb(171, 171, 171);
  }
}

.bourbon-neat-test img{
  width:100%;
}



#chart-container {
   width: 100%;
   margin: 0 auto;
   display: block; }

 .highcharts-background {
   fill: #4ABDAC;
 }

 .test-6-column.influx {
   background-color: #4ABDAC;
   margin-bottom: 30px;
   text-align: center;
   color: #DFDCE3;
   font-family: "Codystar", cursive;
 }

 .test-6-column.pets {
   background-color: #4ABDAC;
   margin-bottom: 30px;
   text-align: center;
   color: #DFDCE3;
   font-family: "Codystar", cursive;
 }

 .test-6-column.time {
   background-color: #4ABDAC;
   margin-bottom: 30px;
   text-align: center;
   color: #DFDCE3;
   font-family: "Codystar", cursive;
 }
