<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cityscape</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}static/js/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}static/js/happy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}static/js/pets.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <link type="text/css" href="{{ STATIC_URL }}static/compiled_css/app.css" rel="stylesheet"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="nav-bar">
        </div>
      </div>
      <div class="snapshot">
        <!-- placeholder text. Shows 'Jinja2 syntax' -->
        {{1 + 1}}
        <canvas id="mycanvas" width="256" height="256"></canvas>
        <div id="petchart" width="256" height="256"></div>
      </div>
      <div class="bourbon-neat-test">
        <div class="test-6-column">
          <h1>BOURBON/NEAT TEST 1</h1>
        </div>
        <div class="test-6-column">
          <!-- <h2>{{ weather }}</h2> -->
          <img src="{{ STATIC_URL }}static/images/weather/{{ weather }}">
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
</html>
